## 1. Setup & Imports

In [20]:
# Load libraries
import pandas as pd
import numpy as np
from scipy.stats import zscore

# ðŸ§¹ Data Cleaning and Feature Engineering Pipeline

This notebook demonstrates a full data cleaning and preprocessing pipeline on a messy real-world dataset. We perform:
- Missing value imputation
- Outlier detection and treatment
- Type conversion and schema inference
- Data normalization (pivoting, multi-indexing)
- Feature engineering (polynomial features, interaction terms)

All steps are designed for downstream modeling (regression/classification).

## ðŸ“˜ 2. Load Dataset

In [21]:
# Load the dataset
df = pd.read_csv('all_stocks_5yr.csv', parse_dates=['date'])
df.head()

        date   open   high    low  close    volume Name
0 2013-02-08  15.07  15.12  14.63  14.75   8407500  AAL
1 2013-02-11  14.89  15.01  14.26  14.46   8882000  AAL
2 2013-02-12  14.45  14.51  14.10  14.27   8126000  AAL
3 2013-02-13  14.30  14.94  14.25  14.66  10259500  AAL
4 2013-02-14  14.94  14.96  13.16  13.99  31879900  AAL

## ðŸ“˜ 3. Multi-step Cleaning
### âœ… 3.1 Initial EDA

In [23]:
print(df.info())        # Check data types and missing values presence

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 619040 entries, 0 to 619039
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    619040 non-null  datetime64[ns]
 1   open    619029 non-null  float64
 2   high    619032 non-null  float64
 3   low     619032 non-null  float64
 4   close   619040 non-null  float64
 5   volume  619040 non-null  int64
 6   Name    619040 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 33.1+ MB
None

In [24]:
print(df.isna().sum())  # Number of missing values per column

date       0
open      11
high       8
low        8
close      0
volume     0
Name       0
dtype: int64

### 3.2 Missing Data Imputation
Forward and backward fill for missing price data grouped by ticker 'Name'

In [26]:
df = df.sort_values(['Name', 'date'])

cols_to_fill = ['open', 'high', 'low', 'close', 'volume']
df[cols_to_fill] = df.groupby('Name')[cols_to_fill].transform(lambda grp: grp.ffill().bfill())

In [27]:
# Drop rows with any remaining missing values, if any
df = df.dropna()

### 3.3 Outlier Detection and Capping using z-score on 'close' price per stock

In [28]:
def cap_outliers(series, z_thresh=3):
    z_scores = zscore(series)
    capped_series = series.copy()
    mean_val = series.mean()
    std_val = series.std()
    capped_series[z_scores > z_thresh] = mean_val + z_thresh * std_val
    capped_series[z_scores < -z_thresh] = mean_val - z_thresh * std_val
    return capped_series

In [29]:
df['close'] = df.groupby('Name')['close'].transform(cap_outliers)

### 3.4 Type Conversion
Convert 'Name' to categorical, 'volume' to integer

In [30]:
df['Name'] = df['Name'].astype('category')
df['volume'] = df['volume'].astype(int)

## 4. Schema inference and normalization

### 4.1 Set MultiIndex for easier time series access by ticker and date

In [31]:
df_multi_index = df.set_index(['Name', 'date']).sort_index()

### 4.2 Create a pivot table - wide format of close prices for all stocks (tickers as columns)

In [32]:
df_pivot = df.pivot(index='date', columns='Name', values='close')

## 5. Feature engineering for downstream classification problem

### 5.1 Polynomial Features: Example - squared close price

In [34]:
df['close_sq'] = df['close'] ** 2

### 5.2 Interaction Term: close price multiplied by volume

In [35]:
df['close_vol_interaction'] = df['close'] * df['volume']

### 5.3 Rolling Features: 5-day rolling mean of close price per ticker using groupby + transform

In [36]:
df['close_rolling_mean_5'] = df.groupby('Name')['close'].transform(lambda x: x.rolling(window=5, min_periods=1).mean())

C:\Users\shara\AppData\Local\Temp\ipykernel_12732\1010459284.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['close_rolling_mean_5'] = df.groupby('Name')['close'].transform(lambda x: x.rolling(window=5, min_periods=1).mean())

### 5.4 Lagged Feature and Target Variable

In [37]:
# Predict whether the price will go up next day (binary classification target)
df['close_next_day'] = df.groupby('Name')['close'].shift(-1)
df['return_next_day'] = (df['close_next_day'] - df['close']) / df['close']
df['target'] = (df['return_next_day'] > 0).astype(int)

C:\Users\shara\AppData\Local\Temp\ipykernel_12732\1265630980.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df['close_next_day'] = df.groupby('Name')['close'].shift(-1)

In [38]:
# Drop rows with NaN in target (last day for each stock)
df = df.dropna(subset=['target'])

In [39]:
# -- Save the cleaned and feature engineered data --
df.to_csv('sp500_cleaned_features.csv', index=False)

In [41]:
# Display a sample of the transformed dataframe
df.head()

,date,open,high,low,close,volume,Name,close_sq,close_vol_interaction,close_rolling_mean_5,close_next_day,return_next_day,target
71611,2013-02-08,45.07,45.35,45.00,45.08,1824755,A,2032.2064,8.225996e+07,45.080000,44.60,-0.010648,0
71612,2013-02-11,45.17,45.18,44.45,44.60,2915405,A,1989.1600,1.300271e+08,44.840000,44.62,0.000448,1
71613,2013-02-12,44.81,44.95,44.50,44.62,2373731,A,1990.9444,1.059159e+08,44.766667,44.75,0.002913,1
71614,2013-02-13,44.81,45.24,44.68,44.75,2052338,A,2002.5625,9.184213e+07,44.762500,44.58,-0.003799,0
71615,2013-02-14,44.72,44.78,44.36,44.58,3826245,A,1987.3764,1.705740e+08,44.726000,42.25,-0.052266,0